{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody>
        {% for item in fileMetadata %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.category }}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm" onclick="editView('{{ item.id }}')">Edit
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}